@media (min-width: 1024px) {
	body {
		height: 100vh !important;
		overflow: hidden;
	}
}

.contact,
.contact-mob {
	color: var(--black);
}

.contact {
	position: relative;
	display: none;
}

#map {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

@media (min-width: 1024px) {
	.contact {
		display: block;
	}
}

.map-cont {
	width: 100%;
	height: 100% !important;
	min-height: 461px;
	position: relative;
}

@media (min-width: 768px) and (max-width: 957px) {
	.map-cont {
		min-height: 419px;
	}
}

@media (min-width: 958px) and (max-width: 1024px) {
	.map-cont {
		min-height: 419px;
	}
}

#map-mob {
	display: block;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.contact-mob {
	display: block;
}
@media (min-width: 1024px) {
	.contact-mob {
		display: none;
	}
}

.contact .card {
	width: 350px;
}

.contact-mob .card {
	width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.contact-mob .card {
		width: 60%;
	}
}

.contact .card {
	position: absolute;
	top: 6%;
	left: 0;
	transform: translatex(65%);
	z-index: 9;
}

@media (min-width: 1600px) {
	.contact .card {
		left: 5%;
	}
}

@media (min-height: 733px) {
	.contact .card {
		top: 20%;
	}
}

@media (max-width: 1023px) {
	.contact {
		overflow: hidden;
	}

	#map {
		position: static;
	}

	.contact .card {
		position: static;
		transform: none;
	}

	.contact-mob .card {
		border: none !important;
	}
}

.contact .card-title,
.contact-mob .card-title {
	font-size: var(--font-size-32);
	line-height: var(--line-height-37);
	font-weight: var(--font-medium);
	text-transform: uppercase;
}

.contact .list-group,
.contact-mob .list-group {
	background-color: var(--blind-black);
}

.contact .nav-link,
.contact-mob .nav-link {
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-18);
	line-height: var(--line-height-21);
	font-weight: var(--font-regular);
	text-decoration: none;
	color: var(--white);
	letter-spacing: normal;
	text-transform: none;
}

.contact .list-group-item:hover a,
.contact-mob .list-group-item:hover a {
	color: var(--grey) !important;
}

.contact .nav-link img,
.contact-mob .nav-link img {
	width: 20px;
	height: 20px;
	margin-bottom: 20px;
}
